<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tirtho.diu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.tirtho.StatusActivity"></activity>
        <activity android:name=".NoticeView" />
        <activity android:name="com.tirtho.FlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AdmitionRequired" />
        <activity android:name=".ViceChancelor" />
        <activity android:name=".Club" />
        <activity android:name=".Library" />
        <activity android:name=".DepartmentView" />
        <activity android:name=".Department" />
        <activity android:name=".Contact" />
        <activity
            android:name=".Profile"
            android:icon="@drawable/ic_account_circle_white_24dp"
            android:label="Academic Profile" />
        <activity android:name=".AcademicResult" />
        <activity
            android:name=".Notice"
            android:label="Notices" />
        <activity android:name=".Registration" />
        <activity
            android:name=".TransectionDetails"
            android:label="Statement" />
        <activity
            android:name=".AccountDetails"
            android:label="Account Details" />
        <activity
            android:name=".Admission"
            android:label="Admission" />
        <activity
            android:name=".StudentsCommunity"
            android:label="Club and Community" />
        <activity
            android:name=".Gallery"
            android:label="Photo Gallery" />
        <activity
            android:name=".Transport"
            android:label="Transport" />
        <activity
            android:name=".FaculityMenber"
            android:label="BoT" />
        <activity
            android:name=".Administration"
            android:label="Administration" />
        <activity
            android:name=".AcademicCalendar"
            android:label="Academic Calender" />
        <activity
            android:name=".RulesAndRegulation"
            android:label="Rules and Regulation" />
        <activity
            android:name=".ClassRoutine"
            android:label="Class Routine" />
        <activity
            android:name=".AboutUs"
            android:label="About Us" />
        <activity android:name=".BrowserActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_title"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>